{% extends "base.html" %}
{% block description %} {{ article.content | truncate(200) | escape }} {% endblock %}
{% block keywords %} {{ article.tags | join(',') }} {% endblock %}
{% block windowtitle %} {{ article.title}} | {{ SITENAME }} {% endblock %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>
	
        <div class="highlight">{{ article.content }}</div>

        {% if article.tags %}
	    <div class="footer">
            <ul class="tags">{% for tag in article.tags %}
                <li>
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                </li>{% endfor %}
            </ul>
        </div>
        {% endif %}

        <hr>
    	   
        <h2>Comments</h2>
	{% include "twitter.html" %}
	{% include 'disqus.html' %}
    </div>
{% endblock %}
